.ideas {
    padding: 4.7rem 0 2.4rem;
    &__inner {
        @include container;
        text-align: center;
    }
    &__title {
        @include main-titles;
        margin: 0;
        margin-bottom: 0.9rem;
    }
    &__subtitle {
        @include main-subtitles;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 5.6rem;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7.3rem;
        position: relative;
        @include responsive(big-tables) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__img {
        width: 620px;
        height: 420px;
        object-fit: contain;
        border-radius: 1.6rem;
        margin-right: 3.5rem;
        @include responsive(desktop) {
            width: 50%;
            height: auto;
        }
        @include responsive(big-tables) {
            width: 100%;
            max-width: 620px;
            height: auto;
            margin-right: 0;
            margin-bottom: 2.5rem;
        }
    }
    &__content-right {
        width: 100%;
        max-width: 639px;
        padding-top: 1.4rem;
        padding-right: 3.9rem;
        padding-bottom: 1.4rem;
        text-align: left;
        @include responsive(big-tables) {
            width: 100%;
            max-width: 680px;
            text-align: center;
            padding: 0;
        }
    }
    &__text {
        font-family: $text-fonts;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 1.25;
        color: $black-color;
        &:not(:last-child) {
            margin-bottom: 2.8rem;
        }
        @include responsive(tables) {
            font-size: 2rem; 
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }
    &__see-all {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        img {
            width: 3rem;
            height: 2.8rem;
            object-fit: contain;
        }
    }
    &__see-all-text {
        text-transform: capitalize;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 1.2;
        color: $black-color;
    }
}