.search {
    padding-top: 5rem;
    padding-bottom: 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        @include main-titles;
        margin-bottom: 2.4rem;
    }
    &__btn-wrapper {
        width: 100%;
        max-width: 660px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 6.8rem;
    }
    &__btn-list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: .7rem;
        flex-wrap: wrap;
        &:first-child {
            margin-bottom: .7rem;
        }
    }
    &__item {
        padding: 1.2rem 2.3rem;
        border-radius: 200px;
        border: 1px solid #c5c5c5;
        user-select: none;
    }

}